<template>
  <div>
    <sidebar></sidebar>
    <search></search>
    <br>
    <cards class="card"></cards>
  </div>
</template>

<style lang="scss" scoped>
.card {
  margin-left: 50px;
  margin-top: 50px;
}
</style>

<script>
import AutocompleteBox from "./Search";
import Media from "./Cards";
import SideBar from "./SideBar";
export default {
  name: "App",
  components: {
    search: AutocompleteBox,
    cards: Media,
    sidebar: SideBar
  }
};
</script>
