<template>
  <div>
    <md-card v-for="a in this.card" v-bind:key="a.attributes.company_name">
      <md-card-media-actions>
        <md-card-media>
          <img :src="a.attributes[2] && a.attributes[2].value[0]" alt="Cover">
        </md-card-media>

        <md-card-actions>
          <md-button class="md-icon-button">
            <md-icon>favorite</md-icon>
          </md-button>

          <md-button class="md-icon-button">
            <md-icon>bookmark</md-icon>
          </md-button>

          <md-button class="md-icon-button">
            <md-icon>share</md-icon>
          </md-button>
        </md-card-actions>
      </md-card-media-actions>
      <h4>{{a.company_name}}</h4>
    </md-card>
  </div>
</template>

<style lang="scss" scoped>
.md-card {
  min-width: 320px;
  margin: 30px;
  display: inline-block;
  vertical-align: top;
}

h4 {
  font-family: "Times New Roman", Times, serif;
}
</style>

<script>
import axios from "axios";
import data from "./mock.json";
export default {
  name: "Media",
  data() {
    return {
      card: data
    };
  },
  mounted() {
    this.card = data.searchResult;
    console.log(this.card);
  }
};
</script>
